In [24]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

file_path = 'sales_06_FY2020-21.csv'
data = pd.read_csv(file_path, dtype={'order_id': str})


data_info = data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286392 entries, 0 to 286391
Data columns (total 36 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   order_id          286392 non-null  object
 1   order_date        286392 non-null  object
 2   status            286392 non-null  object
 3   item_id           286392 non-null  float64
 4   sku               286392 non-null  object
 5   qty_ordered       286392 non-null  float64
 6   price             286392 non-null  float64
 7   value             286392 non-null  float64
 8   discount_amount   286392 non-null  float64
 9   total             286392 non-null  float64
 10  category          286392 non-null  object
 11  payment_method    286392 non-null  object
 12  bi_st             286392 non-null  object
 13  cust_id           286392 non-null  float64
 14  year              286392 non-null  int64
 15  month             286392 non-null  object
 16  ref_num           286392 non-null  int64
 17  Name Prefix       286392 non-null  object
 18  First Name        286392 non-null  object
 19  Middle Initial    286392 non-null  object
 20  Last Name         286392 non-null  object
 21  Gender            286392 non-null  object
 22  age               286392 non-null  float64
 23  full_name         286392 non-null  object
 24  E Mail            286392 non-null  object
 25  Customer Since    286392 non-null  object
 26  SSN               286392 non-null  object
 27  Phone No.         286392 non-null  object
 28  Place Name        286392 non-null  object
 29  County            286392 non-null  object
 30  City              286392 non-null  object
 31  State             286392 non-null  object
 32  Zip               286392 non-null  int64
 33  Region            286392 non-null  object
 34  User Name         286392 non-null  object
 35  Discount_Percent  286392 non-null  float64
dtypes: float64(9), int64(3), object(24)
memory usage: 78.7+ MB

In [17]:
data_head = data.head(10)
data_head.T

,0,1,2,3,4,5,6,7,8,9
order_id,100354678,100354678,100354680,100354680,100367357,100367357,100367360,100354677,100354677,100354677
order_date,2020-10-01,2020-10-01,2020-10-01,2020-10-01,2020-11-13,2020-11-13,2020-11-13,2020-10-01,2020-10-01,2020-10-01
status,received,received,complete,complete,received,received,order_refunded,canceled,canceled,canceled
item_id,574772.0,574774.0,574777.0,574779.0,595185.0,595186.0,595192.0,574769.0,574770.0,574771.0
sku,oasis_Oasis-064-36,Fantastic_FT-48,mdeal_DMC-610-8,oasis_Oasis-061-36,MEFNAR59C38B6CA08CD,MEFBUY59B7C3DDC2CA3-42,MATDAN59C3C845B38F0,GFE_19_USBLEDLight,oasis_Kingston-32GB-DTIG4,Geepas_GSB5420
qty_ordered,21.0,11.0,9.0,9.0,2.0,2.0,2.0,2.0,2.0,2.0
price,89.9,19.0,149.9,79.9,99.9,39.9,47.6,49.0,135.0,549.9
value,1798.0,190.0,1199.2,639.2,99.9,39.9,47.6,49.0,135.0,549.9
discount_amount,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
total,1798.0,190.0,1199.2,639.2,99.9,39.9,47.6,49.0,135.0,549.9
category,Men's Fashion,Men's Fashion,Men's Fashion,Men's Fashion,Men's Fashion,Men's Fashion,Mobiles & Tablets,Mobiles & Tablets,Computing,Appliances
payment_method,cod,cod,cod,cod,cod,cod,cod,Payaxis,Payaxis,Payaxis
bi_st,Valid,Valid,Net,Net,Valid,Valid,Valid,Gross,Gross,Gross
cust_id,60124.0,60124.0,60124.0,60124.0,60124.0,60124.0,60124.0,42485.0,42485.0,42485.0
year,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020
month,Oct-2020,Oct-2020,Oct-2020,Oct-2020,Nov-2020,Nov-2020,Nov-2020,Oct-2020,Oct-2020,Oct-2020
ref_num,987867,987867,987867,987867,987867,987867,987867,171143,171143,171143
Name Prefix,Drs.,Drs.,Drs.,Drs.,Drs.,Drs.,Drs.,Prof.,Prof.,Prof.
First Name,Jani,Jani,Jani,Jani,Jani,Jani,Jani,Lee,Lee,Lee
Middle Initial,W,W,W,W,W,W,W,S,S,S
Last Name,Titus,Titus,Titus,Titus,Titus,Titus,Titus,Eaker,Eaker,Eaker
Gender,F,F,F,F,F,F,F,M,M,M
age,43.0,43.0,43.0,43.0,43.0,43.0,43.0,28.0,28.0,28.0
full_name,"Titus, Jani","Titus, Jani","Titus, Jani","Titus, Jani","Titus, Jani","Titus, Jani","Titus, Jani","Eaker, Lee","Eaker, Lee","Eaker, Lee"
E Mail,jani.titus@gmail.com,jani.titus@gmail.com,jani.titus@gmail.com,jani.titus@gmail.com,jani.titus@gmail.com,jani.titus@gmail.com,jani.titus@gmail.com,lee.eaker@gmail.com,lee.eaker@gmail.com,lee.eaker@gmail.com
Customer Since,8/22/2006,8/22/2006,8/22/2006,8/22/2006,8/22/2006,8/22/2006,8/22/2006,2/4/1981,2/4/1981,2/4/1981
SSN,627-31-5251,627-31-5251,627-31-5251,627-31-5251,627-31-5251,627-31-5251,627-31-5251,185-86-4345,185-86-4345,185-86-4345
Phone No.,405-959-1129,405-959-1129,405-959-1129,405-959-1129,405-959-1129,405-959-1129,405-959-1129,239-335-6755,239-335-6755,239-335-6755
Place Name,Vinson,Vinson,Vinson,Vinson,Vinson,Vinson,Vinson,Graham,Graham,Graham
County,Harmon,Harmon,Harmon,Harmon,Harmon,Harmon,Harmon,Bradford,Bradford,Bradford
City,Vinson,Vinson,Vinson,Vinson,Vinson,Vinson,Vinson,Graham,Graham,Graham
State,OK,OK,OK,OK,OK,OK,OK,FL,FL,FL
Zip,73571,73571,73571,73571,73571,73571,73571,32042,32042,32042
Region,South,South,South,South,South,South,South,South,South,South
User Name,jwtitus,jwtitus,jwtitus,jwtitus,jwtitus,jwtitus,jwtitus,lseaker,lseaker,lseaker
Discount_Percent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
data_cleaned = data.copy()
data_cleaned.shape

(286392, 36)

In [27]:
data_cleaned['qty_ordered'] = data_cleaned['qty_ordered'].astype(str)
data_cleaned['price'] = data_cleaned['price'].astype(str)
data_cleaned['total'] = data_cleaned['total'].astype(str)

### Xử lý tiền tệ và dữ liệu dạng số

In [28]:
data_cleaned['qty_ordered'] = pd.to_numeric(data_cleaned['qty_ordered'], errors='coerce')

data_cleaned['price'] = pd.to_numeric(data_cleaned['price'].str.replace('₹', '').str.replace(',', ''), errors='coerce')
data_cleaned['total'] = pd.to_numeric(data_cleaned['total'].str.replace('₹', '').str.replace(',', ''), errors='coerce')

### Xử lý dữ liệu trống

In [29]:
data_cleaned.dropna(subset=['qty_ordered'], inplace=True)  

data_cleaned.dropna(subset=['price'], inplace=True)

data_cleaned['value'] = data_cleaned['value'].fillna(data_cleaned['qty_ordered'] * data_cleaned['price'])

data_cleaned['total'] = np.where(
    data_cleaned['discount_amount'] != 0,  # Điều kiện
    data_cleaned['discount_amount'] * data_cleaned['value'],  # Nếu điều kiện đúng
    data_cleaned['value']  # Nếu điều kiện sai
)

### Xoá dữ liệu bị trùng

In [30]:
data_cleaned = data_cleaned.drop_duplicates(subset=data_cleaned.columns.difference(['order_id']))

In [31]:
data_cleaned.shape

(286392, 36)